<ion-content [fullscreen]="true">
  <app-spinner *ngIf="loadingTracker"></app-spinner>
  <ion-header class="header-page">
    <ion-title>Adicionar Medicamento</ion-title>
    <ion-icon name="close-sharp" color="light" (click)="close()"></ion-icon>
  </ion-header>

  <div class="content">

    <form [formGroup]="formMedicamento">
      <ion-grid>
        <ion-row>
          <ion-col>Qual o nome do remédio?</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input class="input-blank" formControlName="name" required placeholder="Vermivet Composto"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Alguma descrição adicional?</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input class="input-blank" formControlName="description" required placeholder="600g"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Quando foi aplicado?</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-datetime-button datetime="applicationDate"></ion-datetime-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Quando será a próxima aplicação?</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-datetime-button datetime="nextDate"></ion-datetime-button>
          </ion-col>
        </ion-row>

      </ion-grid>

      <ion-popover [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime min="1990-02" max="3000-12" id="applicationDate" formControlName="applicationDate" presentation="date" required></ion-datetime>
        </ng-template>
      </ion-popover>

      <ion-popover [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime min="1990-02" max="3000-12" id="nextDate" formControlName="nextDate" presentation="date" required></ion-datetime>
        </ng-template>
      </ion-popover>

      <ion-button  expand="block" (click)="save()" [disabled]="formMedicamento.invalid"> Salvar </ion-button>

    </form>
  </div>


</ion-content>